html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  font-family: "Arial";
  color: #eeeeee;
}

header {
  flex-flow: column;
  display: flex;
  margin: 50px auto;
}
.title__box {
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 300%;
  margin-bottom: 40px;
}

.title__box-icon {
  height: 80px;
  margin-right: 10px;
}
.search__box-input-container,
.search__box-result-container {
  display: flex;
  width: 30%;
  justify-content: center;
  flex-flow: column;
}

.search__box {
  justify-content: center;
  display: flex;
  flex: 1 0 100%;
}
.search__box-input {
  border: none;
  padding: 15px;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  background-color: #333333;
  flex: 0 1 100%;
  color: #eeeeee;
  font-size: 100%;
}
.search__box-button {
  background-color: #333333;
  color: none;
  border: none;
  width: 4em;
  background-image: url(../img/search.svg);
  background-position: center;
  background-size: 2em;
  background-repeat: no-repeat;
  border-radius: 0px 5px 5px 0px;
  transition: all 0.1s ease-in;
}
.search__box-button:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.search__box-result-container {
  display: none;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #333333;
}

.search__box-input:focus ~ .search__box-result-container,
.search__box-result-container:hover {
  display: flex;
  position: absolute;
  margin-top: 8em;
}
.search-box-result-list {
  padding: 10px 10px 10px 40px;
  margin: 0;
  list-style: none;
  color: #eeeeee;
}
.icon-result-list {
  vertical-align: middle;
  height: 15px;
}
.result-list-element {
  margin-top: 1em;
}
